<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta content="width=device-width,user-scalable=no" name="viewport" />
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/sweetalert.css}" />
<link rel="stylesheet" th:href="@{/css/reset.css}" />
<link rel="stylesheet" th:href="@{/css/supersized.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script src="http://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script th:src="@{/js/security.js}"></script>

<script th:src="@{/js/sweetalert.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/sweetalert.css}" />
    <title th:text="${title}"></title>
		<script  type="text/javascript" > 
		 function changeImage(){  
			 $.ajax({
				 url:"UpdateCodeImages",
				 success:function (data, textStatus) {
					console.log(data);
						$("#authCode").attr("src","http://"+window.location.host+"/"+data); 
				 }
			 });
    	}   
		 
		 
		 function func(){
			 
		  		location.href="QueryInfo";
		 }
		 
		 
    	</script> 

<style>
html,body {
    margin:0;
    height:100%;
}
#test {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    
    opacity:0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display:none;
}

#log_window {
    width:200px;
    height:200px;
  	 background-image:url("../image/test4.gif") ;
  	 background-repeat:no-repeat;
    margin: auto;
    position: absolute;
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
</style>
<script>
function shield(){
	$("#test").show();
    
  $("#log_window").show();
}

function cancel_shield(){
    var s = document.getElementById("test");
    s.style.display = "none";
    
    var l = document.getElementById("log_window");
    l.style.display = "none";
}
</script>
</head>
<body>
     <!-- 
         <input th:type="text" />
          <input th:type="text" />
      -->
          
     <div class="page-container" style="margin-top:200px">	           
		<div class="wrapper" id="submit">	
			<div class="container">
				<strong><span style="font-weight: bold;font-size: 25px;">密码修改</span></strong> 
				<form class="form" action="TelecomLogin" method="post">
					<input th:type="text" v-model="input2" id="CallCode" name="CallCode" placeholder="短信验证码"/>
					<input th:type="text"  id="UserPassword" name="UserPassword" placeholder="密码"/>
					<div id="showcode" ><input th:type="text" id="UserPasswordS" placeholder="确认密码"/> </div>
				<button th:type="button"  v-on:click="sayHi">修改</button>
	
        <script type="text/javascript">
            var myVue = new Vue({
                el: '#submit',
                methods: {      
                    sayHi: function () {
                
                    	shield();
                    	var publicKey="00ad1b378b4cd82d8c77473f6101c30c24699fdfdb2feff8dfe45c90e03b35428969b056cdef13718019aba9b918da1bc8b4593d6d390286c34b32b260d8451d59ad1712a1304fceb19e0a1dba6de501a3774da2ae1a7694860d3a74d4b568955011c6d1e54e6e00fdfe9594269ec7e9e7ca4d3590b87655de2067c104a45a254b";
                    	var sign="010001";
                    	var key = RSAUtils.getKeyPair(sign, '',publicKey);//modulus 是解密钥匙
                    	var CallCode=RSAUtils.encryptedString(key,$("#CallCode").val());//password 你要加密的密码
                    	var UserPassword=RSAUtils.encryptedString(key,$("#UserPassword").val());//password 你要加密的密码
                    	
             
                     	$.ajax({
            	    	    url:'ChangePassword',
            	    	    type:'POST', //GET
            	    	    data:{
            	    	    	CallCode:CallCode,UserPassword:UserPassword,code:$("#CallCode").val(),pwd:$("#UserPassword").val()
            	    	    	
            	    	    },
            	    	    success:function(data,textStatus){
            	    	    	console.log(data);

            	    	    	}
            	    	   
            	    	}) 
                   
                 
                    }
                }
            })
        </script>
				</form>
			</div>
	  </div>
        </div>
<div id="test">

</div>
<div id="log_window"></div>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/js/supersized.3.2.7.min.js}"></script>
<script th:src="@{/js/supersized-init.js}"></script>  
<script th:src="@{/js/scripts.js}"></script> 
</body>
</html>
